@using demoTMDT.Models
@model List<Hang>


    
        @{
            foreach (var item in Model)
            {
<li style="border-top: 5px solid #ff6b6b;">
    @Html.ActionLink(item.TenHang,"DS_DT","ListDT",
                  new { Hang = item.IdHang.Trim() },"")
</li>
                   


            }
        }


