
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Customer/Home.css" rel="stylesheet" />

<div id="wrapper">

    <div class="hot-promotion">
        <h2 class="reset-size">KHUYẾN MÃI</h2>
        <div class="row reset-size">

            @RenderBody()

        </div>
        <div class="customer">
            <h2>KHÁCH HÀNG TỚI CLICKBUY</h2>
            <div class="row reset-size">
                <div class="col-md-3 reset-size">
                    <img src="https://uqoojcos5nobj.vcdn.cloud/uploads/2021/01/a12.png" class="img-customer" alt="">
                </div>
                <div class="col-md-3 reset-size">
                    <img src="https://uqoojcos5nobj.vcdn.cloud/uploads/2021/01/a13.png" class="img-customer" alt="">
                </div>
                <div class="col-md-3 reset-size">
                    <img src="https://uqoojcos5nobj.vcdn.cloud/uploads/2021/01/a14.png" class="img-customer" alt="">
                </div>
                <div class="col-md-3 reset-size">
                    <img src="https://uqoojcos5nobj.vcdn.cloud/uploads/2021/01/a16.png" class="img-customer" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- end Home -->
